node-red/flows.json
[
    {
        "id": "480eabb870c38958",
        "type": "tab",
        "label": "Fan Health Monitor",
        "disabled": false,
        "info": "Accelerometer-based Fan Health Monitoring Dashboard",
        "env": []
    },
    {
        "id": "5e7b727c148b44d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e752a65c92d6b280",
        "type": "ui_tab",
        "name": "Fan Health Monitor",
        "icon": "fa-tachometer-alt",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25873b51a3fae798",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Industrial Dark",
                "default": "#6C63FF",
                "baseColor": "#6C63FF",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#6C63FF",
                    "value": "#6C63FF",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1a1a2e",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#0f0f1a",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#16213e",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#a8a8d0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#2a2a4a",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#16213e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#e0e0ff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#6C63FF",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#2a2a4a",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "purple",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Fan Health Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "group_header",
        "type": "ui_group",
        "name": "Header",
        "tab": "e752a65c92d6b280",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": "header-group"
    },
    {
        "id": "9ef6723d975cbcd6",
        "type": "ui_group",
        "name": "📈 Real-Time Vibration",
        "tab": "e752a65c92d6b280",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "chart-group"
    },
    {
        "id": "b5c5186ca4f90f70",
        "type": "ui_group",
        "name": "⚡ Vibration Level",
        "tab": "e752a65c92d6b280",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": "gauge-group"
    },
    {
        "id": "6e9ea93255d69f23",
        "type": "ui_group",
        "name": "🔄 Fan Power",
        "tab": "e752a65c92d6b280",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": "status-group"
    },
    {
        "id": "3645609b25aea338",
        "type": "ui_group",
        "name": "🚨 Alert Center",
        "tab": "e752a65c92d6b280",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": "alert-group"
    },
    {
        "id": "group_css",
        "type": "ui_group",
        "name": "CSS",
        "tab": "e752a65c92d6b280",
        "order": 6,
        "disp": false,
        "width": 1,
        "collapse": false,
        "className": "css-group"
    },
    {
        "id": "node_css_inject",
        "type": "ui_template",
        "z": "480eabb870c38958",
        "group": "group_css",
        "name": "Global CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n/* ── Global Dark Theme Overrides ── */\n.nr-dashboard-theme .nr-dashboard-template {\n  background: transparent !important;\n}\nmd-toolbar {\n  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%) !important;\n  box-shadow: 0 4px 20px rgba(108,99,255,0.3) !important;\n}\nmd-toolbar .nr-dashboard-toolbar-title {\n  font-weight: 700 !important;\n  letter-spacing: 1.5px !important;\n  text-transform: uppercase !important;\n  font-size: 18px !important;\n  background: linear-gradient(90deg, #6C63FF, #00d2ff) !important;\n  -webkit-background-clip: text !important;\n  -webkit-text-fill-color: transparent !important;\n}\n.nr-dashboard-cardpanel {\n  background: #0f0f1a !important;\n}\n.nr-dashboard-tab {\n  background: #0f0f1a !important;\n}\nnr-dashboard-sidebar {\n  background: #16213e !important;\n}\n.nr-dashboard-theme ui-card-panel {\n  background: #16213e !important;\n  border: 1px solid rgba(108,99,255,0.15) !important;\n  border-radius: 16px !important;\n  box-shadow: 0 8px 32px rgba(0,0,0,0.3) !important;\n  margin: 6px !important;\n  transition: transform 0.3s ease, box-shadow 0.3s ease !important;\n}\n.nr-dashboard-theme ui-card-panel:hover {\n  box-shadow: 0 12px 40px rgba(108,99,255,0.2) !important;\n}\n.nr-dashboard-theme .nr-dashboard-theme-border {\n  border-color: #2a2a4a !important;\n}\n.nr-dashboard-groupname {\n  color: #a8a8d0 !important;\n  font-weight: 600 !important;\n  font-size: 13px !important;\n  letter-spacing: 0.8px !important;\n  text-transform: uppercase !important;\n  padding: 8px 12px !important;\n}\n/* Chart styling */\n.chart-group .nr-dashboard-widget canvas {\n  border-radius: 12px;\n}\n/* Hide CSS group */\n.css-group { display: none !important; height: 0 !important; overflow: hidden !important; }\n/* Scrollbar */\n::-webkit-scrollbar { width: 6px; }\n::-webkit-scrollbar-track { background: #0f0f1a; }\n::-webkit-scrollbar-thumb { background: #6C63FF; border-radius: 3px; }\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 160,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "node_header",
        "type": "ui_template",
        "z": "480eabb870c38958",
        "group": "group_header",
        "name": "Dashboard Header",
        "order": 1,
        "width": 24,
        "height": 2,
        "format": "<div style=\"display:flex;align-items:center;justify-content:space-between;padding:12px 24px;background:linear-gradient(135deg,#16213e,#1a1a2e);border-radius:16px;border:1px solid rgba(108,99,255,0.2);\">\n  <div style=\"display:flex;align-items:center;gap:16px;\">\n    <div style=\"width:48px;height:48px;border-radius:12px;background:linear-gradient(135deg,#6C63FF,#00d2ff);display:flex;align-items:center;justify-content:center;font-size:24px;box-shadow:0 4px 15px rgba(108,99,255,0.4);\">\n      <span style=\"filter:drop-shadow(0 0 4px rgba(255,255,255,0.5));\">🌀</span>\n    </div>\n    <div>\n      <div style=\"font-size:20px;font-weight:800;background:linear-gradient(90deg,#6C63FF,#00d2ff);-webkit-background-clip:text;-webkit-text-fill-color:transparent;letter-spacing:1px;\">FAN HEALTH MONITOR</div>\n      <div style=\"font-size:11px;color:#7a7aaa;letter-spacing:2px;text-transform:uppercase;margin-top:2px;\">Accelerometer-Based Anomaly Detection • Group 02</div>\n    </div>\n  </div>\n  <div style=\"display:flex;align-items:center;gap:12px;\">\n    <div style=\"padding:6px 14px;border-radius:20px;background:rgba(0,210,100,0.15);border:1px solid rgba(0,210,100,0.3);\">\n      <span style=\"color:#00d264;font-size:11px;font-weight:600;letter-spacing:1px;\">● SYSTEM ONLINE</span>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "324efa5360338802",
        "type": "mqtt in",
        "z": "480eabb870c38958",
        "name": "Sensor Data",
        "topic": "sensors/group-02/fan-monitor/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5e7b727c148b44d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "extract_magnitude"
            ]
        ]
    },
    {
        "id": "extract_magnitude",
        "type": "function",
        "z": "480eabb870c38958",
        "name": "Extract Magnitude",
        "func": "msg.payload = msg.payload.magnitude;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "rate_limit_chart",
                "440ff2f5e01db387"
            ]
        ]
    },
    {
        "id": "rate_limit_chart",
        "type": "delay",
        "z": "480eabb870c38958",
        "name": "Rate Limit (1/sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "aa57c3e247c1d5fa"
            ]
        ]
    },
    {
        "id": "aa57c3e247c1d5fa",
        "type": "ui_chart",
        "z": "480eabb870c38958",
        "name": "Vibration Chart",
        "group": "9ef6723d975cbcd6",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Vibration Magnitude Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "⏳ Awaiting sensor data...",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "120",
        "removeOlderPoints": "40",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#6c63ff",
            "#00d2ff",
            "#ff7f0e",
            "#00d264",
            "#98df8a",
            "#ff4757",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "440ff2f5e01db387",
        "type": "ui_gauge",
        "z": "480eabb870c38958",
        "name": "Vibration Gauge",
        "group": "b5c5186ca4f90f70",
        "order": 1,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Current Level",
        "label": "g",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00d264",
            "#ffd93d",
            "#ff4757"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "701ed49971af8dbf",
        "type": "mqtt in",
        "z": "480eabb870c38958",
        "name": "Alert Status",
        "topic": "alerts/group-02/fan-monitor/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5e7b727c148b44d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "extract_status",
                "7969ea47d34447f2"
            ]
        ]
    },
    {
        "id": "extract_status",
        "type": "function",
        "z": "480eabb870c38958",
        "name": "Extract Status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "5418a7e05eee8486"
            ]
        ]
    },
    {
        "id": "5418a7e05eee8486",
        "type": "switch",
        "z": "480eabb870c38958",
        "name": "Status Router",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "FAULT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NORMAL",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "d6e8ddf6843af086"
            ],
            [
                "19754f7767cf6c49"
            ]
        ]
    },
    {
        "id": "d6e8ddf6843af086",
        "type": "function",
        "z": "480eabb870c38958",
        "name": "Anomaly Detected",
        "func": "msg.payload = \"ANOMALY DETECTED\";\nmsg.subtitle = \"Abnormal vibrations detected – check fan immediately\";\nmsg.icon = \"⚠️\";\nmsg.color = \"#ff4757\";\nmsg.glow = \"rgba(255,71,87,0.4)\";\nmsg.bg = \"linear-gradient(135deg, rgba(255,71,87,0.12), rgba(255,71,87,0.05))\";\nmsg.border = \"rgba(255,71,87,0.5)\";\nmsg.flash = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "bff6283d0b3f506e"
            ]
        ]
    },
    {
        "id": "19754f7767cf6c49",
        "type": "function",
        "z": "480eabb870c38958",
        "name": "No Anomaly",
        "func": "msg.payload = \"ALL SYSTEMS NORMAL\";\nmsg.subtitle = \"Fan operating within expected parameters\";\nmsg.icon = \"✅\";\nmsg.color = \"#00d264\";\nmsg.glow = \"rgba(0,210,100,0.3)\";\nmsg.bg = \"linear-gradient(135deg, rgba(0,210,100,0.1), rgba(0,210,100,0.03))\";\nmsg.border = \"rgba(0,210,100,0.4)\";\nmsg.flash = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 560,
        "wires": [
            [
                "bff6283d0b3f506e"
            ]
        ]
    },
    {
        "id": "bff6283d0b3f506e",
        "type": "ui_template",
        "z": "480eabb870c38958",
        "group": "3645609b25aea338",
        "name": "Alert Display",
        "order": 1,
        "width": "12",
        "height": "3",
        "format": "<div id=\"alertBox\" style=\"\n    display:flex;\n    align-items:center;\n    gap:20px;\n    padding:20px 28px;\n    border-radius:16px;\n    border:1px solid {{msg.border}};\n    background:{{msg.bg}};\n    transition: all 0.4s cubic-bezier(0.4,0,0.2,1);\n    box-shadow: 0 0 30px {{msg.glow}};\n\">\n    <div style=\"font-size:40px;filter:drop-shadow(0 0 8px {{msg.glow}});\">{{msg.icon}}</div>\n    <div style=\"flex:1;\">\n        <div style=\"font-size:22px;font-weight:800;color:{{msg.color}};letter-spacing:2px;\">{{msg.payload}}</div>\n        <div style=\"font-size:12px;color:#7a7aaa;margin-top:4px;letter-spacing:0.5px;\">{{msg.subtitle}}</div>\n    </div>\n    <div style=\"padding:6px 16px;border-radius:20px;border:1px solid {{msg.border}};background:rgba(0,0,0,0.2);\">\n        <span style=\"color:{{msg.color}};font-size:11px;font-weight:700;letter-spacing:1px;\">LIVE</span>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    let blink = null;\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        const box = document.getElementById('alertBox');\n        if (blink) { clearInterval(blink); blink = null; }\n        if (msg.flash === true) {\n            let v = true;\n            blink = setInterval(function() {\n                if (!box) return;\n                box.style.opacity = v ? '0.4' : '1';\n                v = !v;\n            }, 600);\n        } else {\n            if (box) box.style.opacity = '1';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7969ea47d34447f2",
        "type": "function",
        "z": "480eabb870c38958",
        "name": "Fan ON/OFF Timeout",
        "func": "if (context.get('timer')) {\n    clearTimeout(context.get('timer'));\n}\n\nconst timer = setTimeout(function() {\n    node.send({\n        payload: \"OFF\",\n        color: \"#ff4757\",\n        glow: \"rgba(255,71,87,0.5)\",\n        ringBg: \"rgba(255,71,87,0.1)\"\n    });\n}, 3000);\n\ncontext.set('timer', timer);\n\nmsg.payload = \"ON\";\nmsg.color = \"#00d264\";\nmsg.glow = \"rgba(0,210,100,0.5)\";\nmsg.ringBg = \"rgba(0,210,100,0.1)\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 660,
        "wires": [
            [
                "fde2ace3044ebf3d"
            ]
        ]
    },
    {
        "id": "fde2ace3044ebf3d",
        "type": "ui_template",
        "z": "480eabb870c38958",
        "group": "6e9ea93255d69f23",
        "name": "Fan ON/OFF Display",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<div style=\"display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;gap:16px;padding:10px 0;\">\n    <div style=\"position:relative;\">\n        <div style=\"\n            width:110px;height:110px;border-radius:50%;\n            background:radial-gradient(circle, {{msg.ringBg}} 0%, transparent 70%);\n            position:absolute;top:-10px;left:-10px;\n            animation: pulse-ring 2s ease-out infinite;\n        \"></div>\n        <div style=\"\n            width:90px;height:90px;border-radius:50%;\n            background:linear-gradient(135deg, {{msg.color}}, {{msg.color}}cc);\n            display:flex;align-items:center;justify-content:center;\n            font-size:26px;font-weight:800;color:white;\n            box-shadow: 0 0 30px {{msg.glow}}, inset 0 -2px 6px rgba(0,0,0,0.2);\n            transition: all 0.5s cubic-bezier(0.4,0,0.2,1);\n            position:relative;\n            letter-spacing:2px;\n        \">{{msg.payload}}</div>\n    </div>\n    <div style=\"font-size:11px;color:#7a7aaa;font-weight:600;letter-spacing:2px;text-transform:uppercase;\">Fan Power</div>\n</div>\n<style>\n@keyframes pulse-ring {\n    0% { transform:scale(0.9); opacity:1; }\n    100% { transform:scale(1.4); opacity:0; }\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef779116224a555",
        "type": "debug",
        "z": "480eabb870c38958",
        "name": "Debug: Alert Topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 620,
        "wires": []
    }
]